.gamewrap {
    margin-top: 10px;
    width: 1200px;
    height: 800px;
    background: white;
    position: relative;
}

.player {
    width: 20px;
    height: 20px;
    background: red;
    position: absolute;
}

.block {
    position: absolute;
    height: 120px;
    width: 120px;
    background: orange;
}